<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AutoTestCore" type="AutoTest.Core.Configuration.CoreSection, AutoTest.Core"/>
  </configSections>

  <AutoTestCore>
    <DirectoryToWatch>..</DirectoryToWatch>
    <BuildExecutable>C:\Somefolder\MSBuild.exe</BuildExecutable>
    <CodeEditor>
      <Executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv</Executable>
      <Arguments>/Edit "[[CodeFile]]" /command "Edit.Goto [[LineNumber]]"</Arguments>
    </CodeEditor>
    <NUnitTestRunner>C:\Somefolder\NUnit\nunit-console.exe</NUnitTestRunner>
    <MSTestRunner>C:\Somefolder\MSTest.exe</MSTestRunner>
  </AutoTestCore>
</configuration>
