<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Directory to watch -->
    <DirectoryToWatch>/home/ack/src/AutoTest.Net</DirectoryToWatch>
    <DirectoryToWatch>/home/ack/src/Bedriftsoket</DirectoryToWatch>

    <!-- Build executables. Supported are MSBuild.exe and Mono's xbuild (Optional) -->
    <!-- You have the posibility to specify multiple build executables based on framework version or -->
    <!-- product version from within the csproj/vbproj file using the framework attribute -->
    <BuildExecutable>/usr/bin/xbuild</BuildExecutable>

    <!-- NUnit test runner. Spesifies the path to the nunit console test runner (Optional) -->
    <!-- You have the posibility to specify multiple build executables based on framework version -->
    <!-- from within the csproj/vbproj file using the framework attribute. -->
    <!-- (framework only, not framework and product version like with the build exe) -->
    <!--<NUnitTestRunner>/usr/bin/nunit-console</NUnitTestRunner>-->
	<NUnitTestRunner>/home/ack/src/grensesnitt/lib/NUnit-2.5.7.10213/bin/net-2.0/nunit-console.exe</NUnitTestRunner>

    <!-- MSTest test runner. (Optional) -->
    <!-- Has support for the framework attribute like NUnit test runner config -->
    <MSTestRunner></MSTestRunner>

    <!-- XUnit test runner. (Optional) -->
    <!-- Has support for the framework attribute like NUnit test runner config -->
    <XUnitTestRunner></XUnitTestRunner>

    <!-- Code editor configuration. You can specify a code editor to open files in. -->
    <!-- The [[CodeFile]] tag is the file to be edited and the [[LineNumber]] tag is -->
    <!-- the line to goto. These will be filled in by the application when executing -->
    <!-- the statement -->
    <CodeEditor>
      <Executable>/usr/bin/monodevelop</Executable>
      <Arguments>"[[CodeFile]]"</Arguments>
    </CodeEditor>

    <!-- When set this will enable logging to the debug.log file in the root directory -->
    <Debugging>true</Debugging>
</configuration>
