<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AutoTestCore" type="AutoTest.Core.Configuration.CoreSection, AutoTest.Core"/>
  </configSections>

  <AutoTestCore>
  	<DirectoryToWatch>/home/ack/Projects/ASP.NET Test/TestClasslib2</DirectoryToWatch>
    <BuildExecutable>/usr/bin/xbuild</BuildExecutable>
    <CodeEditor>
      <Executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.exe</Executable>
      <Arguments>/Edit "[[CodeFile]]" /command "Edit.Goto [[LineNumber]]"</Arguments>
    </CodeEditor>
    <NUnitTestRunner>/usr/lib/nunit/nunit-console.exe</NUnitTestRunner>
    <MSTestRunner>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\MSTest.exe</MSTestRunner>
    <Debugging>true</Debugging>
  </AutoTestCore>
</configuration>