<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AutoTestCore" type="AutoTest.Core.Configuration.CoreSection, AutoTest.Core"/>
  </configSections>

  <AutoTestCore>
    <DirectoryToWatch>C:\Users\sveina\src\DotNET\Private\AutoTest.Net - Copy\src</DirectoryToWatch>
    <BuildExecutable>C:\Program Files (x86)\Mono-2.6.4\bin\xbuild.bat</BuildExecutable>
    <!--<BuildExecutable>C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild.exe</BuildExecutable>-->
    <CodeEditor>
      <Executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv</Executable>
      <Arguments>/Edit "[[CodeFile]]" /command "Edit.Goto [[LineNumber]]"</Arguments>
    </CodeEditor>
    <NUnitTestRunner>C:\Users\sveina\src\libraries\autotestnet\src\autotestnet-read-only\lib\NUnit\nunit-console.exe</NUnitTestRunner>
    <MSTestRunner>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\MSTest.exe</MSTestRunner>
  </AutoTestCore>
</configuration>