<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DirectoryToWatch" value="C:\Users\sveina\src\libraries\autotestnet\src\autotestnet-read-only\src\AutoTest.Test\TestArtifacts\VS2008\CSharp\" />-->
    <!--<add key="DirectoryToWatch" value="C:\Users\sveina\src\DotNET\Work\Everywhere\Main\Source\Everywhere.EDocument" />-->
    <!--<add key="DirectoryToWatch" value="C:\Users\sveina\src\DotNET\Work\Everywhere\Main\Source" />-->
    <!--<add key="DirectoryToWatch" value="C:\Users\sveina\src\DotNET\Private\TDDPeering_Internals - Copy (2)"/>-->
    <add key="DirectoryToWatch" value="C:\Users\sveina\src\DotNET\Private\AutoTest.Net - Copy"/>
    <add key="NunitTestRunner" value="C:\Users\sveina\src\libraries\autotestnet\src\autotestnet-read-only\lib\NUnit\nunit-console.exe" />
    <add key="MSTestRunner" value="C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\MSTest.exe" />
    <add key="BuildExecutable" value="C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild.exe" />
    <!--<add key="IgnoreFolder" value="TestLibrary" />-->
  </appSettings>
</configuration>