<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AutoTestCore" type="AutoTest.Core.Configuration.CoreSection, AutoTest.Core"/>
  </configSections>

  <AutoTestCore>
    <DirectoryToWatch>TestResources</DirectoryToWatch>
    <BuildExecutables>C:\Somefolder\MSBuild.exe</BuildExecutables>
    <BuildExecutables framework="v3.5">C:\SomefolderOther\MSBuild.exe</BuildExecutables>
    <BuildExecutables framework="9.0.30729">C:\ProductVersionFolder\MSBuild.exe</BuildExecutables>
    <CodeEditor>
      <Executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv</Executable>
      <Arguments>/Edit "[[CodeFile]]" /command "Edit.Goto [[LineNumber]]"</Arguments>
    </CodeEditor>
    <NUnitTestRunner>C:\Somefolder\NUnit\nunit-console.exe</NUnitTestRunner>
    <NUnitTestRunner framework="v3.5">C:\SomefolderOther\NUnit\nunit-console.exe</NUnitTestRunner>
    <MSTestRunner>C:\Somefolder\MSTest.exe</MSTestRunner>
    <MSTestRunner framework="v3.5">C:\SomefolderOther\MSTest.exe</MSTestRunner>
    <Debugging>true</Debugging>
  </AutoTestCore>
</configuration>
